h1 {
    text-align: center;
}

.card {
    font-size: 1.4rem;
    text-align: center;
    min-height: 60px;

}

.word {
    width: 100px;
    margin: 20px;
    padding: 10px;
}

.def {
    display: none;
}