h1 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    height: 80px;
    padding-top: 20px;
}
.row {
    margin-bottom: 20px;
}

.card {
    
    font-size: 1.4rem;
    text-align: center;
    min-height: 60px;

}


 .word {
     font-size: 1.6rem;
    font-family: 'Permanent Marker', cursive;
    background-color: #f5f77b;
    max-width: 300px;
    justify-content: center;
    min-height: 200px;
    margin: 20px;
    padding: 10px;
}

.def {
    font-family: serif;
    background-color: #a9c5f2;
    justify-content: center;
    display: none;
    
}

.def-show {
    display: block;
}

#selected {
    display: block;
}
